/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

span {
  padding: 10px;
  font-size: 20px;
}
input {
  width: 400px;
  font-size: 20px;
}

#title {
  font-size: 50px;
  font-style: bold;
}

button {
  font-size: 20px;
  background-color: rgb(200,200, 200);
  border-color: rgb(200,200, 200);
}

#create {
  margin-left: 66px;
}
input:hover {
  border-color: rgb(150,150,150);
}

button:hover {
  background-color: rgb(150,150,150);
  border-color: rgb(150,150,150)
}

#loading {
  font-size: 50px;
}